@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Nunito:wght@500&display=swap");

.InterfaceBookStore {
  width: 100%;
  display: flex;
  margin-top: 120px;
}
.LeftMenu {
  width: 15%;
  height: 625px;
  border-right: 1px solid #eee;
}
.RightMenu {
  width: 85%;
}
.BookMenu {
  width: 100%;
  height: auto;
}
.Iconbook p {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.Iconbook span {
  font-weight: 400;
  text-shadow: 4px 6px 8px black;
}
.Iconbook i {
  padding-right: 10px;
  color: rgb(24, 147, 147);
  font-size: 2rem;
}
.ListnameMenu {
  margin-top: 35px;
}
.ListnameMenu a {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.ListnameMenu a:hover {
  cursor: pointer;
  color: rgb(21, 149, 149);
}
.ListnameMenu ul {
  margin-left: 10px;
}
.ListnameMenu li {
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}
.ListnameMenu li:hover {
  border-right: 3px solid rgb(201, 201, 53);
  cursor: pointer;
  color: rgb(21, 149, 149);
}
.BookMenu {
  width: 100%;
  height: auto;
  position: relative;
}
.IconShopping {
  margin-top: 10px;
  display: flex;
  position: relative;
  width: 100%;
}
.PlaceForBook {
  margin-top: 5px;
}
.Searching {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
}
.placeforiconandnumber {
  position: relative;
  width: 3%;
  height: 10%;
  margin-top: 1.2rem;
  /* left: 25%; */
}
.placeforiconandnumber i {
  font-size: x-large;
  color: rgb(34, 34, 99);
}
.fa-cart-shopping:hover {
  cursor: pointer;
}
.numberShop {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: 0;
  border-radius: 50%;
  margin: 0;
  text-align: center;
  width: 10px;
  height: 10px;
  padding: 5px 5px;
  background-color: rgb(211, 184, 184);
}
.SearchBook {
  display: flex;
  width: 100%;
}
.SearchBook input {
  margin-left: 20rem;
  width: 30%;
  height: 1rem;
  padding: 10px 20px;
  border: 1px solid black;
  border-right: none;
  border-radius: 14px 0 0 14px;
  font-size: 14px;
  outline: none;
}
.SearchBook button {
  color: #eee;
  border-radius: 0px 10px 10px 0px;
  background-color: rgb(89, 89, 232);
  width: 12%;
  padding: 10px;
  height: 2.38rem;
  transition: all 0.2s linear;
}
.SearchBook button:hover {
  color: rgb(108, 97, 97);
  cursor: pointer;
  background-color: aqua;
}
.Product {
  width: 100%;
  height: 580px;
  overflow: auto;
}
.ImgStart {
  position: relative;
  margin-top: 30px;
  margin-left: 80px;
  width: 90%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.DivforBook {
  width: 100%;
  height: auto;
}
.PlaceForTh {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.PlaceForThcs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.BookBox {
  margin: 1rem 0 2rem 3rem;
  width: 20%;
  height: 350px;
  border-radius: 5px;
  border: 2px solid #ccc;
  /* box-shadow: 9px 9px 12px #ccc, -9px -9px 12px #ccc; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.ImgBook {
  position: relative;
  width: 100%;
  /* height: 300px; */
}
.ForImg {
  width: 100%;
}
.ForImg img {
  border-radius: 5px;
  width: 100%;
  height: 270px;
}

.ImgBook:hover .BtnBuyAndAdd {
  cursor: pointer;
  opacity: 1;
  height: auto;
  bottom: 0;
}
.BtnBuyAndAdd {
  opacity: 0;
  bottom: 10px;
  position: absolute;
  bottom: -10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.BtnBuyAndAdd button:nth-child(1) {
  position: relative;
  background-color: rgb(31, 191, 191);
  color: #eee;
  border: none;
  float: left;
  padding: 10px 15px;
  margin-right: 0px;
}
.BtnBuyAndAdd button:nth-child(2) {
  background-color: black;
  color: #eee;
  border: none;
  float: left;
  padding: 10px 10px;
  margin-left: 35px;
}
.BtnBuyAndAdd button:nth-child(1):hover {
  cursor: pointer;
  background-color: rgb(123, 182, 202);
}
.BtnBuyAndAdd button:nth-child(2):hover {
  cursor: pointer;
  background-color: rgb(76, 80, 81);
}
.PriceAndWord {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.price-number {
  font-family: "Poppins", sans-serif;
  margin: 0px 10px 0px 0px;
  text-align: center;
  color: rgb(41, 163, 163);
}
.price-sales {
  opacity: 0.7;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  text-align: center;
  text-decoration: line-through;
  color: rgb(3, 8, 8);
}
.PriceAndWord h4 {
  width: 100%;
  font-size: 15px;
  line-height: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: normal;
  color: #5c5c5c;
  line-height: 16px;
  overflow: hidden;
  text-align: center;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.Cartplace {
  position: fixed;
  top: 0;
  right: -50%;
  z-index: 10;
  background-color: white;
  width: 28%;
  height: 760px;
  transition: all 0.3s linear;
}
.Cartplace.appearcart {
  right: 0;
}
.editcart {
  width: 83%;
  margin: 0 0 0 3rem;
  height: 650px;
  overflow: auto;
}
.iconcartremove i {
  margin-top: 50px;
  margin-left: 23rem;
}
.iconcartremove i:hover {
  color: coral;
  cursor: pointer;
}
.Cartword {
  padding-left: 1rem;
  font-family: "Poppins", sans-serif;
}
.PlaceforProduct {
  width: 100%;
  height: auto;
}
.cart-view {
  position: relative;
  width: 100%;
}
.imgincart img {
  width: 85px;
}
.protitleview {
  font-family: "poppins", sans-serif;
  float: left;
  width: 100%;
  font-size: 12px;
}
.quantity-pro {
  float: left;
  width: auto;
  background: #ededed;
  text-align: center;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1;
  margin-right: 12px;
}
.pro-price {
  display: block;
  text-align: center;
  float: left;
  line-height: 26px;
  font-weight: 500;
  opacity: 0.8;
}
.remove-cart {
  position: absolute;
  right: 15px;
  top: 0;
}
.remove-cart:hover {
  cursor: pointer;
}
.line2 {
  float: left;
  width: 100%;
  border-top: 2px solid #000000;
  margin: 10px 0px;
}
.totalprice {
  width: 100%;
}
.totalprice td {
  padding-bottom: 3rem;
}
.text-left {
  opacity: 0.7;
  text-align: left;
  font-family: "Poppins", sans-serif;
  padding-left: 0px;
}
.text-right {
  opacity: 0.7;
  text-align: right;
  font-family: "Poppins", sans-serif;
  padding-right: 0px;
}
.watch-cart {
  text-decoration: none;
  padding: 16px 20px;
  line-height: 45px;
  height: 45px;
  width: 100%;
  margin-right: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #68c9fb;
  transition: all 0.5s linear;
}
.pay-cart {
  width: 100%;
  text-align: right;
  font-family: "Poppins", sans-serif;
  padding: 16px 25px;
  color: white;
  background-color: #4a90e2;
  transition: all 0.5s linear;
}
.watch-cart:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #3f96c1,
    rgba(245, 245, 245, 0.284)
  );
}
.pay-cart:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #5987bc,
    rgba(245, 245, 245, 0.284)
  );
}
.Wordtitle {
  font-family: "Nunito", sans-serif;
  font-size: 2.1rem;
  font-weight: 600;
  color: #5c5c5c;
  margin: 0 0 13px 30px;
}
